// ***** Authored Dependencies *****

@use "colours";

// ***** Navigation *****

.form:first-child {
    width: 300px;
    border-radius: 20px;
    background-color: colours.$light;
}

.navbar {
    background-color: colours.$dark;
}
    
.navbar-toggler-icon {
    font-size: 1.8rem;
    color: colours.$secondary;
}

.nav-link {
    color: colours.$secondary;
}
