// ***** Authored Dependencies *****

@use "../colours";

// ***** Generic *****

body {
    font-family: 'Federo', sans-serif;
    color: colours.$secondary;
    letter-spacing: .08rem;
    line-height: 1.3rem;
}

.footer {
    width: 100%;
    height: 14rem;
    background-color: colours.$dark;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        width: 90%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;    
    }

    &__address {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__contact {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

    }

    &__social {
        width: 10rem;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

    }

}

.address-heading {
    color: #f97f77;

    &--main-colour {
        color: colours.$main;
    }
}

.list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
    &__icons {
        font-size: 1.5rem;
        color: colours.$secondary;

        &:hover {
            color: colours.$main;
        }
    }

}
